<!DOCTYPE html>
<html lang="en">
<head>
	<body>
		<ul>
			{{range .}}
			<li>
				<h3>{{.Username}}</h3>
				<p>{{uc .Name}}</p>
				<p>{{.Email}}</p>
				<p>{{.Phone}}</p>
			</li>
			{{end}}
		</ul>
	</body>
</head>
